<div class="login-page auth-pages">
    <a class="logo-link" href="index.html">
        <h1>ECOFARMER</h1>
    </a>
    <div class="link-to-login"> Don’t have an account? <a href="register.html">Register</a>
    </div>
    <div class="auth-wrapper">
        <h2>Log in into account</h2>
        <form action="">
            <label for="email-input">Type your email</label>
            <input id="email-input" type="email">
            <label for="password-input">Password</label>
            <input id="password-input" class="login-password" type="password">
            <a class="reset-password" href="reset-1.html">Forgot your password?</a>
            <button type="submit">Log in</button>
        </form>
    </div>
</div>