<aside class="profile-aside">
    <h3>Dashboard</h3>
    <div class="aside-navigation">
        <a class="@@profile" href="profile.html">Profile</a>
        <a class="@@profile-full-delete" href="profile-full.html">Profile full delete</a>
        <a class="@@products" href="my-products.html">My products</a>
        <a class="@@reviews" href="my-reviews.html">All reviews</a>
        <a class="@@setting" href="settings.html">Settings</a>
        <hr>
        <a href="#">Log out</a>
    </div>
</aside>