<div class="register-page auth-pages">
    <a class="logo-link" href="index.html">
        <h1>ECOFARMER</h1>
    </a>
    <div class="auth-wrapper">
        <div class="register-links">
            <a href="register.html">1. Sign Up</a>
            <a class="active" href="#">2. Set Up</a>
        </div>
        <h2>Thanks for signing up!</h2>
        <p>We know you’re excited to start designing, but we have 4 quick questions first. <br> They’ll help us tailor your experience for you.</p>
        <form action="">
            <label for="store-name-input">Name of the store</label>
            <input id="store-name-input" type="text">
            <label for="name-input">Full name of seller</label>
            <input id="name-input" type="text">
            <div class="form-group-container">
                <div class="form-group-item">
                    <label for="country-input">Country</label>
                    <select class="bs-custom-select" data-dropup-auto="false" title="Choose country" data-size="5" id="country-input">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="form-group-item">
                    <label for="city-input">City</label>
                    <select class="bs-custom-select" data-dropup-auto="false" title="Choose city" data-size="5" id="city-input">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>1</option>
                    </select>
                </div>
            </div>
            <div class="form-group-container">
                <div class="form-group-item">
                    <label for="street-input">Street</label>
                    <input id="street-input" placeholder="Example: Poltaskiy Shlyah" type="text">
                </div>
                <div class="form-group-item">
                    <label for="building-input">Building</label>
                    <input id="building-input" placeholder="Example: 34/A" type="text">
                </div>
            </div>
            <label for="phone-input">Phone number</label>
            <div class="form-wrapper">
                <input type="text" class="form-control country-code-anchor" id="countryCode" value="" placeholder="" tabindex="-1">
                <input id="phone-input" placeholder="66-997-8629" type="text">
            </div>
            <button class="disabled" type="submit">Hold on, please</button>
            <p class="terms-of-use">By clicking «Continue» I agree to Ecofarmer’s <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
        </form>
    </div>
</div>