<div class="register-page auth-pages">
    <a class="logo-link" href="index.html">
        <h1>ECOFARMER</h1>
    </a>
    <div class="link-to-login"> Already have an account? <a href="login.html">Log in</a>
    </div>
    <div class="auth-wrapper">
        <h2>Start selling today</h2>
        <form action="">
            <label for="">I am a</label>
            <div class="radio-container">
                <input type="radio" id="client-seller" name="client-type" checked>
                <label class="radio-button" for="client-seller">Seller/Store</label>
                <input type="radio" id="client-buyer" name="client-type">
                <label class="radio-button" for="client-buyer">Buyer</label>
            </div>
            <label for="email-input">Type your email</label>
            <input id="email-input" type="email">
            <label for="password-input">Password</label>
            <input id="password-input" type="password">
            <button class="disabled" type="submit">Hold on, please</button>
            <p class="terms-of-use">By clicking «Continue» I agree to Ecofarmer’s <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
        </form>
    </div>
</div>