<div class="reset-page auth-pages">
    <a class="logo-link" href="index.html">
        <h1>ECOFARMER</h1>
    </a>
    <div class="link-to-login"> Already have an account? <a href="login.html">Log in</a>
    </div>
    <div class="auth-wrapper">
        <h2>New password</h2>
        <form action="">
            <label for="password-1-input">New password</label>
            <input id="password-1-input" type="password">
            <label for="password-2-input">Repeat password</label>
            <input id="password-2-input" type="password">
            <button type="submit">Reset password</button>
        </form>
    </div>
</div>